<div clas="conatainer">
  <div class="top-bar">
      <div class="fixed-with">
        <div id="logo">
           BBC
        </div><!--logo-->
        <div id="sign-in">sign-in
        </div><!--signin-->
        <ul>
          <li>news
          </li>
           <li> sport
          </li>
           <li> weather
          </li>
           <li> shop
          </li>
           <li> earth
          </li>
           <li> travel</li>
           <li> more </li>
          </ul>
        <div id="search-box">
          <input type="text" placeholder="search" />

        </div><!--search-->
    </div><!--fixed width-->
  </div> <!-- top bar-->
  </div>
  <br/>
 <div>
  <div class="news-bar">
    <div class="fixed-with">
      <p> NEWS</p>
    </div>
    </div><!-- news bar-->
  <div class="catogory-bar">
    <div class="fixed-with">
   <ul>
     <li>home</li>
      <li>video</li>
      <li>world</li>
      <li>us&cannada</li>
      <li>uk</li>
     <li>tech</li>
      <li>buisness</li>
      <li>science</li>
      <li>magazines</li>
      <li>entertainment&arts</li>
      <li>health</li>
      <li>more</li>
      </ul>
    </div>
  </div><!--catogoy-bar-->
  <div class="location-bar">
    <div class="fixed-with">
      <ul>
         <li id="bold">UK</li>
         <li>england</li>
         <li>scotland</li>
         <li>n ireland</li>
         <li>wales</li>
         <li>polities</li>
      </ul>
    </div>
  </div><!-- location bar-->
   </div ><!-- container-->




   <div class="card">
    <div class="bg-image hover-overlay" mdbRipple rippleColor="light">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRR4XOSweCHbQANMqV_Z4ee_yolzrWX5lXzag&usqp=CAU /" class="img-fluid"/>
      <a href="#!">
        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
      </a>
    </div>
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#!" class="btn btn-primary">Button</a>
      <div class="card">
        <div class="bg-image hover-overlay" mdbRipple rippleColor="light">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRR4XOSweCHbQANMqV_Z4ee_yolzrWX5lXzag&usqp=CAU /" class="img-fluid"/>
          <a href="#!">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
          </a>
        </div>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#!" class="btn btn-primary">Button</a>

    </div>
  </div>

