<div id="form-main">
  <div id="form-div">
    <form class="form" id="form1">


      <div class="submit">

        <a href="#" routerLink="admin" class="btn btn-primary" id="button-blue">Admin panel</a>
        <br><br><br><br><br><br>
        <a href="#" routerLink="newspanel" class="btn btn-primary" id="button-blue">News Panel</a>
        <br><br><br><br><br><br>
        <a routerLink="reporter" class="btn btn-primary" id="button-blue">Reporter Side</a>


        <div class="ease"></div>
      </div>
    </form>
  </div>