 .example-container {
   text-align: center
 }

 .form-container {
   width: 400 px;
   margin: 0 px auto;
   margin-top: 200 px
 }

 .form-field {
   display: block
 }

 .vid-container {
   position: relative;
   height: 100vh;
   overflow: hidden;
 }

 .inner-container {
   width: 400px;
   height: 400px;
   position: absolute;
   top: calc(50vh - 200px);
   left: calc(50vw - 200px);
   overflow: hidden;
 }

 .box {
   position: absolute;
   height: 100%;
   width: 100%;
   font-family: Helvetica;
   color: #fff;
   background: #f8f8f8ef;
   padding: 30px 0px 300px 0px;
 }

 .box input {
   display: block;
   width: 300px;
   margin: 20px auto;
   padding: 15px;
   background: rgba(182, 121, 121, 0.2);
   color: rgb(24, 22, 22);
   border: 0;
 }



 /* .box button {
   background: #742ECC;
   border: 0;
   color: #fff;
   padding: 10px;
   font-size: 20px;
   width: 330px;
   margin: 20px auto;
   display: block;
   cursor: pointer;
 } */

 .box button:active {
   background: #27ae60;
 }